<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bang.mall.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.bang.mall.domain.Goods" >
    <id column="goodsID" property="goodsid" jdbcType="INTEGER" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_total" property="goodsTotal" jdbcType="INTEGER" />
    <result column="goods_detals" property="goodsDetals" jdbcType="VARCHAR" />
    <result column="goods_sell" property="goodsSell" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="goods_price" property="goodsPrice" jdbcType="REAL" />
    <result column="goods_users" property="goodsUsers" jdbcType="INTEGER" />
    <result column="goods_state" property="goodsState" jdbcType="VARCHAR" />
    <result column="goods1" property="goods1" jdbcType="VARCHAR" />
    <result column="goods2" property="goods2" jdbcType="VARCHAR" />
    <result column="goods_born_place" property="goodsBornPlace" jdbcType="VARCHAR" />
    <result column="goods_born_time" property="goodsBornTime" jdbcType="VARCHAR" />
    <result column="goods_class" property="goodsClass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    goodsID, goods_name, goods_total, goods_detals, goods_sell, create_time, goods_price, 
    goods_users, goods_state, goods1, goods2, goods_born_place, goods_born_time, goods_class
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods
    where goodsID = #{goodsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods
    where goodsID = #{goodsid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bang.mall.domain.Goods" >
    insert into tb_goods (goodsID, goods_name, goods_total, 
      goods_detals, goods_sell, create_time, 
      goods_price, goods_users, goods_state, 
      goods1, goods2, goods_born_place, 
      goods_born_time, goods_class)
    values (#{goodsid,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsTotal,jdbcType=INTEGER}, 
      #{goodsDetals,jdbcType=VARCHAR}, #{goodsSell,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{goodsPrice,jdbcType=REAL}, #{goodsUsers,jdbcType=INTEGER}, #{goodsState,jdbcType=VARCHAR}, 
      #{goods1,jdbcType=VARCHAR}, #{goods2,jdbcType=VARCHAR}, #{goodsBornPlace,jdbcType=VARCHAR}, 
      #{goodsBornTime,jdbcType=VARCHAR}, #{goodsClass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bang.mall.domain.Goods" >
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        goodsID,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsTotal != null" >
        goods_total,
      </if>
      <if test="goodsDetals != null" >
        goods_detals,
      </if>
      <if test="goodsSell != null" >
        goods_sell,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="goodsPrice != null" >
        goods_price,
      </if>
      <if test="goodsUsers != null" >
        goods_users,
      </if>
      <if test="goodsState != null" >
        goods_state,
      </if>
      <if test="goods1 != null" >
        goods1,
      </if>
      <if test="goods2 != null" >
        goods2,
      </if>
      <if test="goodsBornPlace != null" >
        goods_born_place,
      </if>
      <if test="goodsBornTime != null" >
        goods_born_time,
      </if>
      <if test="goodsClass != null" >
        goods_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTotal != null" >
        #{goodsTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsDetals != null" >
        #{goodsDetals,jdbcType=VARCHAR},
      </if>
      <if test="goodsSell != null" >
        #{goodsSell,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsPrice != null" >
        #{goodsPrice,jdbcType=REAL},
      </if>
      <if test="goodsUsers != null" >
        #{goodsUsers,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        #{goodsState,jdbcType=VARCHAR},
      </if>
      <if test="goods1 != null" >
        #{goods1,jdbcType=VARCHAR},
      </if>
      <if test="goods2 != null" >
        #{goods2,jdbcType=VARCHAR},
      </if>
      <if test="goodsBornPlace != null" >
        #{goodsBornPlace,jdbcType=VARCHAR},
      </if>
      <if test="goodsBornTime != null" >
        #{goodsBornTime,jdbcType=VARCHAR},
      </if>
      <if test="goodsClass != null" >
        #{goodsClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bang.mall.domain.Goods" >
    update tb_goods
    <set >
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsTotal != null" >
        goods_total = #{goodsTotal,jdbcType=INTEGER},
      </if>
      <if test="goodsDetals != null" >
        goods_detals = #{goodsDetals,jdbcType=VARCHAR},
      </if>
      <if test="goodsSell != null" >
        goods_sell = #{goodsSell,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsPrice != null" >
        goods_price = #{goodsPrice,jdbcType=REAL},
      </if>
      <if test="goodsUsers != null" >
        goods_users = #{goodsUsers,jdbcType=INTEGER},
      </if>
      <if test="goodsState != null" >
        goods_state = #{goodsState,jdbcType=VARCHAR},
      </if>
      <if test="goods1 != null" >
        goods1 = #{goods1,jdbcType=VARCHAR},
      </if>
      <if test="goods2 != null" >
        goods2 = #{goods2,jdbcType=VARCHAR},
      </if>
      <if test="goodsBornPlace != null" >
        goods_born_place = #{goodsBornPlace,jdbcType=VARCHAR},
      </if>
      <if test="goodsBornTime != null" >
        goods_born_time = #{goodsBornTime,jdbcType=VARCHAR},
      </if>
      <if test="goodsClass != null" >
        goods_class = #{goodsClass,jdbcType=VARCHAR},
      </if>
    </set>
    where goodsID = #{goodsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bang.mall.domain.Goods" >
    update tb_goods
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_total = #{goodsTotal,jdbcType=INTEGER},
      goods_detals = #{goodsDetals,jdbcType=VARCHAR},
      goods_sell = #{goodsSell,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      goods_price = #{goodsPrice,jdbcType=REAL},
      goods_users = #{goodsUsers,jdbcType=INTEGER},
      goods_state = #{goodsState,jdbcType=VARCHAR},
      goods1 = #{goods1,jdbcType=VARCHAR},
      goods2 = #{goods2,jdbcType=VARCHAR},
      goods_born_place = #{goodsBornPlace,jdbcType=VARCHAR},
      goods_born_time = #{goodsBornTime,jdbcType=VARCHAR},
      goods_class = #{goodsClass,jdbcType=VARCHAR}
    where goodsID = #{goodsid,jdbcType=INTEGER}
  </update>
  
    <!-- my SQL -->
    <select id="selectByGoodsPropertyOrSort" resultMap="BaseResultMap" parameterType="com.bang.mall.domain.Goods" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods 
    <if test="priceInteger == null and sellInteger == null and goodsName == null">
    order by goodsID DESC
    </if>
      <!-- 无查询条件按价格降序 -->
      <if test="priceInteger == 1 and sellInteger == null and goodsName == null" >
        order by goods_price DESC
      </if>
       <!-- 无查询条件按销量人数降序 -->
      <if test="priceInteger == null and sellInteger == 1 and goodsName == null" >
        order by goods_users DESC
      </if>
      <!-- 无查询条件按价格升序 -->
      <if test="priceInteger == 2 and sellInteger == null and goodsName == null" >
        order by goods_price ASC
      </if>
       <!-- 无查询条件按销量人数升序 -->
      <if test="priceInteger == null and sellInteger == 2 and goodsName == null" >
        order by goods_users ASC
      </if>       
      <!-- 有查询条件无任何排序 -->
      <if test="priceInteger == null and sellInteger == null and goodsName != null" >
        where goods_name like '%${goodsName}%'
      </if>
      <!-- 有查询条件按价格降序 -->
      <if test="priceInteger == 1 and goodsName != null and sellInteger == null" >
        where goods_name like '%${goodsName}%' order by goods_price DESC
      </if>
      <!-- 有查询条件按销量人数降序 -->
      <if test="goodsName != null and sellInteger == 1 and priceInteger == null" >
        where goods_name like '%${goodsName}%' order by goods_users DESC
      </if>
      <!-- 有查询条件按价格升序 -->
      <if test="priceInteger == 2 and goodsName != null and sellInteger == null" >
       where goods_name like '%${goodsName}%' order by goods_price ASC
      </if>
       <!-- 有查询条件按销量人数升序 -->
      <if test="goodsName != null and sellInteger == 2 and priceInteger == null" >
       where goods_name like '%${goodsName}%' order by goods_users ASC
      </if>  
  </select>
  
    <!-- my SQL -->
    <select id="selectByGoodsClassOrSort" resultMap="BaseResultMap" parameterType="com.bang.mall.domain.Goods" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods  
      <!-- 有条件无任何排序 -->
      <if test="priceInteger == null and sellInteger == null" >
        where goods_class = '${goodsClass}'
      </if>
      <!-- 有条件按价格降序 -->
      <if test="priceInteger == 1  and sellInteger == null" >
        where goods_class = #'${goodsClass}' order by goods_price DESC
      </if>
      <!-- 有条件按销量人数降序 -->
      <if test=" sellInteger == 1 and priceInteger == null" >
        where goods_class = #{goodsClass} order by goods_users DESC
      </if>
      <!-- 有条件按价格升序 -->
      <if test="priceInteger == 2  and sellInteger == null" >
       where goods_class = #{goodsClass} order by goods_price ASC
      </if>
       <!-- 有条件按销量人数升序 -->
      <if test="sellInteger == 2 and priceInteger == null" >
       where goods_class = #{goodsClass} order by goods_users ASC
      </if>  
  </select>
</mapper>