<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bang.mall.dao.OrdersMapper" >
  <resultMap id="BaseResultMap" type="com.bang.mall.domain.Orders" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="orderID" property="orderid" jdbcType="INTEGER" />
    <result column="order_state" property="orderState" jdbcType="VARCHAR" />
    <result column="goods_totalprice" property="goodsTotalprice" jdbcType="INTEGER" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="Receiving_time" property="receivingTime" jdbcType="TIMESTAMP" />
    <result column="display" property="display" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="cartID" property="cartid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, userID, orderID, order_state, goods_totalprice, delivery_time, Receiving_time, 
    display, create_time, cartID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_orders
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_orders
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bang.mall.domain.Orders" >
    insert into tb_orders (Id, userID, orderID, 
      order_state, goods_totalprice, delivery_time, 
      Receiving_time, display, create_time, 
      cartID)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, 
      #{orderState,jdbcType=VARCHAR}, #{goodsTotalprice,jdbcType=INTEGER}, #{deliveryTime,jdbcType=TIMESTAMP}, 
      #{receivingTime,jdbcType=TIMESTAMP}, #{display,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{cartid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bang.mall.domain.Orders" >
    insert into tb_orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="orderid != null" >
        orderID,
      </if>
      <if test="orderState != null" >
        order_state,
      </if>
      <if test="goodsTotalprice != null" >
        goods_totalprice,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="receivingTime != null" >
        Receiving_time,
      </if>
      <if test="display != null" >
        display,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cartid != null" >
        cartID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="goodsTotalprice != null" >
        #{goodsTotalprice,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTime != null" >
        #{receivingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        #{display,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cartid != null" >
        #{cartid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bang.mall.domain.Orders" >
    update tb_orders
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderID = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="orderState != null" >
        order_state = #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="goodsTotalprice != null" >
        goods_totalprice = #{goodsTotalprice,jdbcType=INTEGER},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivingTime != null" >
        Receiving_time = #{receivingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="display != null" >
        display = #{display,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cartid != null" >
        cartID = #{cartid,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bang.mall.domain.Orders" >
    update tb_orders
    set userID = #{userid,jdbcType=INTEGER},
      orderID = #{orderid,jdbcType=INTEGER},
      order_state = #{orderState,jdbcType=VARCHAR},
      goods_totalprice = #{goodsTotalprice,jdbcType=INTEGER},
      delivery_time = #{deliveryTime,jdbcType=TIMESTAMP},
      Receiving_time = #{receivingTime,jdbcType=TIMESTAMP},
      display = #{display,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cartID = #{cartid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>